body.hope-cause_page_hope-settings {

  #wpcontent {
    padding-left: 0;
  }
}

.hope-settings-header {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  background-color: white;
  padding: 2em 0 0;

  .title-section h1 {
    display: inline-block;
    font-weight: 600;
    margin: 0 0.8rem 1rem;
    font-size: 23px;
    padding: 9px 0 4px;
    line-height: 1.3;
  }
}