body {
  background: #f0f0f1 !important;
}

body.hope-cause_page_hope-settings {

  #wpcontent {
    padding-left: 0;
  }
}

.hope-settings-header {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  background-color: white;
  padding: 3em 0 0;
  margin-bottom: 3em;
  border-bottom: 1px solid #dcdcde;

  .title-section {
    display: block;

    h1 {
      display: inline-block;
      font-weight: 600;
      margin: 0 0.8rem 1rem;
      font-size: 23px;
      padding: 9px 0 4px;
      line-height: 1.3;
    }
  }

  .hope-menu {
    display: flex;
    justify-content: center;
    width: 100%;

    nav a {
      display: inline-block;
      padding: 1em 1.6em;
      color: #888;
      text-decoration: none;
      border-bottom: solid 2px transparent;
      margin: 0 1em;

      &.__active {
        border-bottom-color: black;
        color: black;
        font-weight: 600;
      }

      &:hover {
        color: black;
      }
    }
  }
}

.hope-settings-body {

  &--entry-summary {
    max-width: calc(100% - 40px);
    width: 800px;
    margin: 0 auto;
  }
}

#hope_settings {

  .ant-input {
    padding: 4px 11px;
    border-radius: 1px;
  }

  .ant-input-affix-wrapper {

    .ant-input {
      padding: 0;
    }
  }
}

.ant-select-selector {

  input.ant-select-selection-search-input {
    outline: none;
    border: none;
    box-shadow: none;
  }
}